<ng-container *ngIf="passenger$ | async as passenger">
  <div class="passengerInfos">
    <h2>Passager : {{ passenger[0].PassengerId }} - {{ passenger[0].Name }}</h2>
    <p>Âge : {{ passenger[0].Age ? passenger[0].Age + " ans" : "Âge inconnu" }}</p>
    <p>Sexe : {{ passenger[0].Sex }}</p>
    <p>Survivant : {{ passenger[0].Survived === "1" ? "Oui" : "Non" }}</p>
    <div class="passengerInfosDetails">
      <p>Classe : {{ passenger[0].Pclass ? passenger[0].Pclass : "Inconnu" }}</p>
      <p>Nombre de frères/soeurs/épouse/époux à bord : {{ passenger[0].SibSp ? passenger[0].SibSp : "Inconnu" }}</p>
      <p>Nombre de parents/enfants à bord : {{ passenger[0].Parch ? passenger[0].Parch : "Inconnu" }}</p>
      <p>Numéro de ticket : {{ passenger[0].Ticket ? passenger[0].Ticket : "Inconnu" }}</p>
      <p>Tarif : {{ passenger[0].Fare ? passenger[0].Fare : "Inconnu" }}</p>
      <p>
        Numéro de cabine : {{ passenger[0].Cabin ? passenger[0].Cabin : "Inconnu" }}
      </p>
      <p>
        Port d'embarquement : {{ passenger[0].Embarked ? passenger[0].Embarked : "Inconnu" }}
      </p>
    </div>
  </div>
</ng-container>
