<header>
  <div class="relative">
    <div class="headbackcolor"></div>
    <div class="headimg"></div>
  </div>
  <h1><a routerLink="/home" routerLinkActive>Titanic</a></h1>

  <mat-toolbar>
    <div class="container">
      <a routerLink="/home" routerLinkActive
        ><mat-icon fontIcon="home">home</mat-icon></a
      >
      <a
        mat-flat-button
        color="primary"
        routerLink="/passengers"
        routerLinkActive="active"
        >Liste des passagers</a
      >
      <a
        mat-flat-button
        color="primary"
        routerLink="/stats"
        routerLinkActive="active"
        >Statistiques</a
      >
      <div>
        <button
          type="button"
          mat-button
          *ngIf="!isLogged"
          routerLink="/home"
          routerLinkActive
        >
          Connexion
        </button>
        <button
          type="button"
          mat-button
          *ngIf="isLogged"
          (click)="authService.logout()"
        >
          Déconnexion
        </button>
      </div>
    </div>
  </mat-toolbar>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
